*{
    font-family: 'Source Sans Pro';
    border-radius: 0 !important;
}

.bg{
    background-image: linear-gradient(to bottom right, #5700f8, #ffee00);
    background-attachment: fixed;
  }

.form-control:focus {
    border-color: #000000;
    box-shadow: inset 0 1px 1px rgba(238, 11, 68, 0.74), 0 0 8px rgba(76, 0, 255, 0.6);
  }

.card-header{
    color : #6f00ff;
  }

.btn{
    color : #ffffff;
    background-color: #6f00ff;
    border-style: ;
  }

.btn:hover{
    color : #ffffff;
    background-color: #4f0aaa;
}

.firstHeader{
    margin: auto;
    text-align: center;
}

.secondHeader{
    margin: auto;
    text-align: center;
}